name: Cypress Tests

on:
  push:
    branches: [  ]
  pull_request:
    branches: [  ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Start Angular app
        run: npm run start &
        
      - name: Wait for app to be ready
        run: npx wait-on http://localhost:4200

      - name: Run Cypress
        run: npx cypress run
